# Node.js
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Store
.pnpm-store/

# Logs
logs/
*.log
*.log.*

# Dependency directories
/.pnp
.pnp.js

# Build output
dist/
build/

# Dev Containers
.devcontainer/.env

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Docker artifacts
infra/docker/apps/
infra/docker/node_modules/
infra/docker/packages/

# Temporary files
codeclimate.html