# Node.js
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Dependency directories
/.pnp
.pnp.js

# Build output
dist/
build/

# Dev Containers
.devcontainer/.env

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db